{% extends 'core/base/list_view_base.html' %}
{% load static %}

{% block bt_nova %}
    {{ labels.NOVO }}
{% endblock %}


{% block tbody %}
    <tbody>
    {% for atendimento in atendimento_list %}
        <tr>
            {% for valor  in atendimento.getListAtributes %}
                <td>{{ valor }}</td>
            {% endfor %}

        </tr>
    {% empty %}
        <tr>
            <td>Nenhum atendimento cadastrado</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}


    </tbody>


{% endblock %}


{% block column_acoes %} <!-- Limpando coluna ações -->
{% endblock %}