{% extends 'core/base/list_view_base.html' %}
{% load static %}

{% block bt_nova %}
    {{ labels.NOVO }}
{% endblock %}


{% block tbody %}
    <tbody>
    {% for atendimento in atendimento_list %}
        <tr>
            {% for valor  in atendimento.getListAtributes %}
                <td>{{ valor }}</td>
            {% endfor %}
            <td>
{#                {{ atendimento.prontuario.departamento_profissional_paciente.id }}#}
                {% if atendimento.prontuario.departamento_profissional_paciente.id %}
                <a type="button"
                   data-toggle="tooltip" data-placement="top" title="Editar Prontuário"
                   class="btn btn-rounded btn-primary"
                   href="{% url 'profissional:modulo:prontuario:update_view' atendimento.prontuario.departamento_profissional_paciente.id atendimento.prontuario.pk %}">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
            </td>

        </tr>
    {% empty %}

        <tr>
            <td>Nenhum atendimento cadastrado</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}


    </tbody>


{% endblock %}

