{% extends 'core/base/create_update_view_base.html' %}
{% load static %}
{% block header %}
    {% if profissional %}
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner border-bottom pb-0 mb-3">
                <div class="d-flex align-items-left flex-column">
                    <h2 class="pb-2 fw-bold text-white">{{ profissional.nome }}</h2>
                    <div class="nav-scroller d-flex">
                        <div class="nav nav-line nav-color-light d-flex align-items-center justify-contents-center">
                            <a class="nav-link active" href="#">Editar Cadastro</a>
                            <a class="nav-link" href="{% url 'core:modulo:profissional:profissional_escala_view' profissional.pk %}">Escalas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block label_nova %}
    {{ labels.NOVO }}
{% endblock %}
{% block corpo_formulario %}

    <div class="row">
        <div class="col-md-12 form-group ">
            {{ form.empresa.label_tag }}
            {{ form.empresa }}
            {{ form.empresa.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group ">
            {{ form.departamento.label_tag }}
            {{ form.departamento }}
            {{ form.departamento.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group ">
            {{ form.tipo_profissional.label_tag }}
            {{ form.tipo_profissional }}
            {{ form.tipo_profissional.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group ">
            {{ form.tiposAtendimentos.label_tag }}
            {{ form.tiposAtendimentos }}
            {{ form.tiposAtendimentos.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>
        <div class="col-md-6 form-group">
            {{ form.codigo.label_tag }}
            {{ form.codigo }}
            {{ form.codigo.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            {{ form.usuario.label_tag }}
            {{ form.usuario }}
            {{ form.usuario.errors }}
        </div>
        <div class="col-md-6 form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-md-6 form-group">#}
    {#            {{ form.password.label_tag }}#}
    {#            {{ form.password }}#}
    {#            <div class="errorList">#}
    {#                {{ form.password.errors }}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-md-6 form-group">#}
    {#            {{ form.confirmpassword.label_tag }}#}
    {#            {{ form.confirmpassword }}#}
    {#            <div class="errorList">#}
    {#                {{ form.confirmpassword.errors }}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {% if not profissional %}
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="hidden" name="perfil" id="id_perfil" value="{{ form.perfil.value }}">
{#            {{ form.perfil.label_tag }}#}
{#            {{ form.perfil }}#}
{#            {{ form.perfil.errors }}#}
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block botoes %}
    <a class="btn btn-danger" href="{% url 'core:modulo:profissional:list_view' %}">{{ labels.CANCELAR }}</a>
{% endblock %}