{% extends 'core/base/create_update_view_base.html' %}
{% load static %}

{% block label_nova %}
    {{ labels.NOVO }}
{% endblock %}
{% block corpo_formulario %}
    {% if user.userProfile %}

        <div class="row">
            {% if paciente.pk != '' %}
                <div class="col-md-3 form-group">
                    {{ form.departamento.label_tag }}
                    {{ form.departamento }}
                    {{ form.departamento.errors }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                    {{ form.nome.errors }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form.mae.label_tag }}
                    {{ form.mae }}
                    {{ form.mae.errors }}
                </div>
                <div class="col-md-1 form-group">
                    {{ form.idade.label_tag }}
                    {{ form.idade }}
                    {{ form.idade.errors }}
                </div>
            {% else %}
                <input type="hidden" name="departamento" id="id_departamento" value="{{ paciente.departamento_id }}">

                <div class="col-md-6 form-group">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                    {{ form.nome.errors }}
                </div>
                <div class="col-md-5 form-group">
                    {{ form.mae.label_tag }}
                    {{ form.mae }}
                    {{ form.mae.errors }}
                </div>
                <div class="col-md-1 form-group">
                    {{ form.idade.label_tag }}
                    {{ form.idade }}
                    {{ form.idade.errors }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="col-md-2 form-group mr-2">
                {{ form.genero.label_tag }}
                <select class="form-control form-control" id="id_genero" name="genero">
                    <option {% if paciente.genero == 0 %} selected {% endif %} value="0">Masculino</option>
                    <option {% if paciente.genero == 1 %} selected {% endif %} value="1">Feminino</option>
                </select>
                {{ form.genero.errors }}
            </div>
            <div class="col-md-3 form-group">
                {{ form.telefone.label_tag }}
                {{ form.telefone }}
                {{ form.telefone.errors }}
            </div>
            <div class="col-md-2 form-group">
                {{ form.cliente_app.label_tag }}
                {{ form.cliente_app }}
                {{ form.cliente_app.errors }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-6 form-group">
                {{ form.nome.label_tag }}
                {{ form.nome }}
                {{ form.nome.errors }}
            </div>
            <div class="col-md-1 form-group">
                {{ form.idade.label_tag }}
                {{ form.idade }}
                {{ form.idade.errors }}
            </div>
            <div class="col-md-5 form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group mr-2">
                {{ form.genero.label_tag }}
                <select class="form-control form-control" id="id_genero" name="genero">
                    <option {% if paciente.genero == 0 %} checked {% endif %} value="0">Masculino</option>
                    <option {% if paciente.genero == 1 %} checked {% endif %} value="1">Feminino</option>
                </select>
                {{ form.genero.errors }}
            </div>            <div class="col-md-4 form-group">
            {{ form.telefone.label_tag }}
            {{ form.telefone }}
            {{ form.telefone.errors }}
        </div>
            <div class="col-md-2 form-group">
                {{ form.cliente_app.label_tag }}
                {{ form.cliente_app }}
                {{ form.cliente_app.errors }}
            </div>
        </div>
    {% endif %}

    {#    <div class="row">#}
    {#        <div class="col-md-6 form-group">#}
    {#            {{ form.password.label_tag }}#}
    {#            {{ form.password }}#}
    {#            <div class="errorList">#}
    {#                {{ form.password.errors }}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-md-6 form-group">#}
    {#            {{ form.confirmpassword.label_tag }}#}
    {#            {{ form.confirmpassword }}#}
    {#            <div class="errorList">#}
    {#                {{ form.confirmpassword.errors }}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

{% block botoes %}
    <a class="btn btn-danger" href="{% url 'core:modulo:paciente:list_view' %}">{{ labels.CANCELAR }}</a>
{% endblock %}