{% extends 'core/base/datalhe_view_base.html' %}
{% load static %}


{% block header %}

    {% if pacientedepartamentoprofissional %}
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner border-bottom pb-0 mb-3">
                <div class="d-flex align-items-left flex-column">
                    <h2 class="pb-2 fw-bold text-white text-uppercase">DETALHES DE {{ pacientedepartamentoprofissional.paciente.nome }}</h2>
                    <div class="nav-scroller d-flex">
                        <div class="nav nav-line nav-color-light d-flex align-items-center justify-contents-center">
                            <a class="nav-link active" href="{% url 'profissional:modulo:meus_pacientes:detalhe_view' pacientedepartamentoprofissional.paciente.pk %}">Informações Gerais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% if messages %}
    {% for message in messages %}

        <script>
            document.addEventListener("DOMContentLoaded", function(){
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    mensagem_erro("{{ message }}");
                {% else %}
                    mensagem_sucesso("{{ message }}");
                {% endif %}
            });
        </script>
    {% endfor %}
{% endif %}

{% block li-tab1 %}<li class="nav-item submenu"> <a class="nav-link active show" id="pills-perfil-tab-nobd" data-toggle="pill" href="#pills-perfil-nobd" role="tab" aria-controls="pills-perfil-nobd" aria-selected="true">Perfil</a> </li> {% endblock %}
{% block li-tab2 %}<li class="nav-item submenu"> <a class="nav-link" id="pills-protuario-tab-nobd" data-toggle="pill" href="#pills-protuario-nobd" role="tab" aria-controls="pills-protuario-nobd" aria-selected="false">Protuário</a> </li>{% endblock %}
{% block tab1 %}
    <div class="tab-pane fade active show" id="pills-perfil-nobd" role="tabpanel" aria-labelledby="pills-perfil-tab-nobd">
        <div class="row mt-3">
            {% if pacientedepartamentoprofissional.paciente.mae == '' %}
                <div class="col-md-6">
                    <div class="form-group form-group-default">
                        <label>Nome</label>
                        <input type="text" readonly class="form-control" name="name" placeholder="Name" value="{{ pacientedepartamentoprofissional.paciente.nome}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input type="email" readonly class="form-control" name="email" placeholder="Name" value="{{ pacientedepartamentoprofissional.paciente.email}}">
                    </div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                        <label>Nome</label>
                        <input type="text" readonly class="form-control" name="name" placeholder="Name" value="{{ pacientedepartamentoprofissional.paciente.nome}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                        <label>Nome da Mãe</label>
                        <input type="text" readonly class="form-control" name="name" placeholder="Name" value="{{ pacientedepartamentoprofissional.paciente.mae}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input type="email" readonly class="form-control" name="email" placeholder="Name" value="{{ pacientedepartamentoprofissional.paciente.email}}">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group form-group-default">
                    <label>idade</label>
                    <input type="text" readonly class="form-control" value="{{ pacientedepartamentoprofissional.paciente.idade}}" placeholder="Idade">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-default">
                    <label>Genero</label>
                    <select readonly class="form-control" id="genero">
                        {% if pacientedepartamentoprofissional.paciente.genero == 1 %}<option value="1">Masculino</option>{% endif %}
                        {% if pacientedepartamentoprofissional.paciente.genero == 0 %}<option value="0">Feminino</option> {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-default">
                    <label>Telefone</label>
                    <input type="text" class="form-control" readonly value="+55 {{ pacientedepartamentoprofissional.paciente.telefone }}" name="phone" placeholder="Telefone">
                </div>
            </div>
        </div>
        {% if pacientedepartamentoprofissional.paciente.endereco %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label>Endereco</label>
                        <input type="text" readonly class="form-control" value="{{ pacientedepartamentoprofissional.paciente.endereco }}" name="address" placeholder="Endereço">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row mt-3 mb-1">
            <div class="col-md-12">
                <div class="form-group form-group-default">
                    <label>Sobre</label>
                    <textarea class="form-control" readonly name="about" placeholder="Insira informação sobre o paciente" rows="3">{{ pacientedepartamentoprofissional.paciente.sobre }}</textarea>
                </div>
            </div>
        </div>
        <div class="text-right mt-3 mb-3">
            <a href="{% url 'profissional:modulo:meus_pacientes:list_view' %}"><button class="btn btn-success">Voltar</button></a>
        </div>
    </div>
{% endblock %}

{% block tab2 %}
    <div class="tab-pane fade" id="pills-protuario-nobd" role="tabpanel" aria-labelledby="pills-protuario-tab-nobd">
        <table class="table  table-striped table-head-bg-primary mt-4">
            <thead>
            <tr>
                <th>#</th>
                <th>PACIENTE</th>
                <th>OBSERVACAO</th>
                <th>AÇÃO</th>

            </tr>
            </thead>
            <tbody>
            {% for prontuario in prontuarios %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    {% for valor  in prontuario.getListAtributes %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                    <td>
                        <a type="button"
                           data-toggle="tooltip" data-placement="top" title="Editar Prontuário"
                           class="btn btn-rounded btn-primary"
                           href="{% url 'profissional:modulo:prontuario:update_view' pacientedepartamentoprofissional.id prontuario.pk %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{% block content-lateral %}
    <div class="card card-profile">
        <div class="card-header" style="background-image: url('{% static 'core/base/assets/img/blogpost.jpg' %}')">
            <div class="profile-picture">
                <div class="avatar avatar-xl">
                    <img src="{% static 'core/base/assets/img/generic-user.png' %}" alt="..." class="avatar-img rounded-circle">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="user-profile text-center">
                <div class="name">{{ pacientedepartamentoprofissional.paciente.nome }}{% if pacientedepartamentoprofissional.paciente.idade %}, {% endif %} {{ pacientedepartamentoprofissional.paciente.idade }} Anos</div>
                <div class="desc">{{ pacientedepartamentoprofissional.paciente.sobre }}</div>
                <div class="social-media">
                    {% if pacientedepartamentoprofissional.paciente.twitter %}
                        <a class="btn btn-info btn-twitter btn-sm btn-link" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                        </a>
                    {% endif %}
                    {% if pacientedepartamentoprofissional.paciente.instagram %}
                        <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-instagram"></i> </span>
                        </a>
                    {% endif %}
                    {% if pacientedepartamentoprofissional.paciente.facebook %}
                        <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row user-stats text-center">
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Atendimentos Realizados</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'core/base/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/locale-all.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/datatables/datatables.min.js' %}"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}