{% extends 'core/base/layout_base.html' %}
{% load static %}
{% block header %}
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Painel</h2>
                    <h5 class="text-white op-7 mb-2">Sistema de Gerenciamento Clínico</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="#" class="btn btn-white btn-border btn-round mr-2">Configurações</a>
                    <a href="#" class="btn btn-secondary btn-round">Adicionar Profissional</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt--5">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Estatísticas Gerais</div>
                    <div class="card-category">Diariamente informações estatísticas do sistema</div>
                    <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <h6 class="fw-bold mt-3 mb-2">Meta de Clientes: <span class="badge badge-info">10</span></h6>
                            <div id="novos-clientes"></div>
                            <h6 class="fw-bold mt-3 mb-0">Novos Clientes</h6>
                        </div>
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <h6 class="fw-bold mt-3 mb-2">Meta de Atendimentos: <span class="badge badge-info">500</span></h6>
                            <div id="atendimentos"></div>
                            <h6 class="fw-bold mt-3 mb-0">Atendimentos</h6>
                        </div>
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <h6 class="fw-bold mt-3 mb-2">Quantidade de Inscrições</h6>
                            <div id="inscritos"></div>
                            <h6 class="fw-bold mt-3 mb-0">Total de Clientes</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Total Bruto &amp; Gasto em Estatistica</div>
                    <div class="row py-3">
                        <div class="col-md-3 d-flex flex-column justify-content-around">
                            <div>
                                <h6 class="fw-bold text-uppercase text-success op-8">Total Bruto Anual</h6>
                                <h3 class="fw-bold">R${{ total.sum }}</h3>
                            </div>
                            <!--<div>
                                <h6 class="fw-bold text-uppercase text-danger op-8">Total Gasto</h6>
                                <h3 class="fw-bold">$1,248</h3>
                            </div>-->
                        </div>
                        <div class="col-md-9">
                            <div id="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="totalIncomeChart" width="307" height="150" class="chartjs-render-monitor" style="display: block; width: 307px; height: 150px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Relatório por Idade</div>
                </div>
                <div class="card-body">
                    <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas id="barChart" width="356" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 285px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title fw-mediumbold">Corpo Clínico</div>
                    <div id="clinico"  class="card-list">
                        <div class="input-group">
                            <input class="form-control search mb-3" type="search" placeholder="Insira um nome...">
                            <div class="input-append">
                                <button class="sort btn btn-secondary" data-sort="username">
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/jm_denis.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr .Denis Almeida</div>
                                    <div class="status">Cirurgião Plástico</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/chadengle.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr. Laécio Carvalho</div>
                                    <div class="status">Pediátra</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/talha.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr. José Ramalho</div>
                                    <div class="status">Oftamologista</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/mlane.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr. Thalles</div>
                                    <div class="status">Dentista</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/talha.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr. Joelson Alemão</div>
                                    <div class="status">Cardiologista</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="{% static "core/base/assets/img/talha.jpg" %}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">Dr. Pedro Lins</div>
                                    <div class="status">Cardiologista</div>
                                </div>
                                <button class="btn btn-icon btn-primary btn-round btn-xs" data-toggle="tooltip" data-placement="top" title="Adicionar Escala">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block extra_scripts %}

    <script src="{% static 'core/base/assets/js/plugin/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/list.js/list.min.js' %}"></script>
    <script>

        var corpo = new List('clinico', {
            valueNames: ['username', 'status']
        });

        Circles.create({
            id:           'novos-clientes',
            radius:       45,
            value:        {{ clientes.count }},
            maxValue:     20,
            width:        7,
            text:         function(value){return value + '';},
            colors:       ['#eee', '#ffa13c'],
            duration:     400,
            wrpClass:     'circles-wrp',
            textClass:    'circles-text',
            styleWrapper: true,
            styleText:    true
        });

        Circles.create({
            id:           'atendimentos',
            radius:       45,
            value:        {{ atendimentos.count }},
            maxValue:     500,
            width:        7,
            text:         function(value){return value + '';},
            colors:       ['#eee', '#ff6662'],
            duration:     400,
            wrpClass:     'circles-wrp',
            textClass:    'circles-text',
            styleWrapper: true,
            styleText:    true
        });

        Circles.create({
            id:           'inscritos',
            radius:       45,
            value:        {{ tclientes.count }},
            maxValue:     {{ tclientes.count }},
            width:        7,
            text:         function(value){return value + '';},
            colors:       ['#eee', '#5eaeff'],
            duration:     400,
            wrpClass:     'circles-wrp',
            textClass:    'circles-text',
            styleWrapper: true,
            styleText:    true
        });

        var barChart = document.getElementById('barChart');

        valor_maio = "{{ atendimentos }}";

        var myBarChart = new Chart(barChart, {
            type: 'bar',
            data: {
                labels: ["Não informado", "0-10", "11-20", "21-30", "31-40", "41-50", "51-60", "61-70", "80+"],
                datasets : [{
                    label: "Pacientes por Idade",
                    backgroundColor: 'rgb(23, 125, 255)',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [350, 452, 509, 305, 124, 216, 431, 126, 127],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
            }
        });

        var totalIncomeChart = document.getElementById('totalIncomeChart');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: [{% if True %}"Jan"{% endif %}, "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                datasets : [{
                    label: "Total Income",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [{% if True %}30 {% endif %}, 4, 9, 5, 4, 6, 4, 3, 8, 10,20,24, 15],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines : {
                            drawBorder: false,
                            display : false
                        }
                    }],
                    xAxes : [ {
                        gridLines : {
                            drawBorder: false,
                            display : false
                        }
                    }]
                },
            }
        });

    </script>
{% endblock %}