{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle">
                        <p>Início. Quem somos</p>
                        <h2>Sobre a RealMedic</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- about part start-->
    <section class="about_part section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="about_part_text">
                        <h5>Quem somos?</h5>
                        <h2>Nosso caminho para a saúde</h2>
                        <p>
                            Todo mundo quer viver uma vida saudável, mas não há um caminho definido para alcançá-la.
                            É aí que a RealMedic entra em cena. Nossos profissionais excepcionais e de
                            alta qualidade ajudam você a sentir e viver a vida completa e rica que merece.
                            Health Tech formada por uma equipe de especialistas apaixonados por saúde e bem-estar,
                            estamos orgulhosos do que realizamos hoje. Oferecemos uma experiência de consulta única,
                            para que você encontre e garanta seus itens favoritos em poucos minutos. Para ficar ainda
                            melhor, os nossos preços são sempre justos e amigáveis.
                        </p>
                        <a href="{% url 'core:cliente:lista_prof' %}" class="btn_1">Encontrar Profissional</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_part_img">
                        <img src="img/about_part_img.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <!-- about part start-->
    <section class="creative padding_bottom">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-start">
                <div class="col-md-6 col-xl-6">
                    <div class="creative_img">
                        <img src="{% static 'landingpage/img/gallery/galeria2.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="creative_part_text">
                        <h2>Sua melhor experiência de consulta.</h2>
                        <p>
                            Na RealMedic, nosso objetivo é ajudar você a estar em sua melhor forma,
                            interna e externamente. Com nossa gama de profissionais de alta qualidade,
                            facilitamos a manutenção de um estilo de vida saudável.
                        </p>
                        <span
                        >Na RealMedic, nosso objetivo é ajudar você a estar em sua melhor forma,
                  interna e externamente. Com nossa gama de profissionais de alta qualidade,
                  facilitamos a manutenção de um estilo de vida saudável.</span
                        >
                        <a href="https://www.youtube.com/watch?v=tDiJnd7SM2Y" class="popup-youtube"
                        ><i class="ti-control-play"></i> Veja nosso trabalho</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <!--::review_part end::-->
    <div class="container-fluid" style="margin-bottom: -100px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <img src="{% static 'landingpage/img/gallery/galeria3.jpg' %}">
                </div>
            </div>
        </div>

    </div>
    <!--::review_part end::-->

{% endblock %}