{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="ForClin - Conectando você à saúde">
    <link rel='preload' as='image' href="{% static 'landingpage/img/banner_img.png' %}">
    <meta name="msapplication-TileImage" content="https://{{ request.META.HTTP_HOST }}{% static 'landingpage/img/banner_img.jpg' %}">
    <meta name="keywords" content="ForClin, medicos, RealMedic, Real, Medic, consulta, médico, quero médico, quero consulta, medicos floresta">
    <meta property="og:site_name" content="Blog do Elvis"/>
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'landingpage/img/banner_img.jpg' %}"/>
    <meta property="og:image:width" content="640"/>
    <meta property="og:image:height" content="360"/>
    <title>ForClin - Conectando você à saúde</title>
    <link rel="icon" href="{% static 'core/base/assets/img/icon.ico' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/bootstrap.min.css'%}" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/animate.css' %}" />
    <!-- aos Animate CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/aos.css' %}" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/owl.carousel.min.css' %}" />
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/themify-icons.css' %}" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/flaticon.css' %}" />
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/nice-select.css' %}" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/magnific-popup.css' %}" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/slick.css' %}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'landingpage/css/style.css' %}" />

    <!-- Fonts and icons -->
    <script src="{% static 'core/base/assets/js/plugin/webfont/webfont.min.js' %}"></script>
    <script>
        WebFont.load({
            google: {"families": ["Lato:300,400,700,900"]},
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ["{% static 'core/base/assets/css/fonts.min.css'%}"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- animated Modal -->
    <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/modaal.min.css' %}">
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4NKZWEGVY7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}0,
            gtag('js', new Date());

        gtag('config', 'G-4NKZWEGVY7');
    </script>
    <script>(function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
    mixpanel.init("f39dd53eae61eea06223a2cc4afbd5a1", {batch_requests: true})</script>
    <script>
        var USER_ID = "12148";
        mixpanel.identify(USER_ID);
    </script>
    <!-- Hotjar Tracking Code for forclin.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2410478,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>

<body>
<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'core:cliente:lista_prof' %}">
                        <img src="{% static 'landingpage/img/logo.png' %}" alt="logo" />
                    </a>
                    <label style="color: white" for="cidade" class="mr-1">{% if municipio  %} Município: {% else %}Cidade: {% endif %}</label>
                    <select name="cidade" id="cidade">
                        <option value="">{{ municipio }}{{ cidade }}</option>
                    </select>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:cliente:lista_prof' %}">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:cliente:sobre' %}">Sobre</a>
                            </li>

                        </ul>
                    </div>
                    <div class="social_icon d-none d-lg-block">
                        {#                        <a href=""><i class="ti-facebook"></i></a>#}
                        <a href="https://instagram.com/forclin"><i class="ti-instagram"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header part end-->
{% block content %}





{% endblock content %}




<!-- footer part start-->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="{% url 'core:cliente:lista_prof' %}">
                        <img src="{% static 'landingpage/img/footer_logo.png'%}" alt="" />
                    </a>
                    <ul>
                        <li>Na ForClin, nosso objetivo é ajudar você a estar em sua melhor forma,
                            interna e externamente. Encontramos profissionais para você,
                            facilitamos o caminho para um estilo de vida saudável.</li>
                    </ul>
                    <div class="social_icon">
                        {#                        <a href="#"><i class="ti-facebook"></i></a>#}
                        <a href="https://instagram.com/forclin"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="single-footer-widget footer_2">
                    <h4>A empresa</h4>
                    <ul>
                        <li>
                            <a href="{% url 'core:cliente:sobre' %}">Sobre</a>
                        </li>


                    </ul>
                </div>
            </div>
            {#                <div class="col-xl-3 col-sm-6 col-md-3">#}
            {#                    <div class="single-footer-widget footer_2">#}
            {#                        <h4>Recursos</h4>#}
            {#                        <ul>#}
            {#                            <li>#}
            {#                                <a href="#">Sou profissional</a>#}
            {#                            </li>#}
            {#                            <li>#}
            {#                                <a href="#">Minha clínica</a>#}
            {#                            </li>#}
            {##}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="single-footer-widget footer_2">
                    <h4>Contato</h4>
                    <div class="single_contact_info">
                        <h3>Floresta - PE</h3>
                        <p>(87) 99938-0279</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> Todos os direitos reservados <!--| Esse site foi criado com <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'landingpage/img/animate_icon/icon_2.png'%}" class="animation_icon_2" alt="">

</footer>
<!-- footer part end-->

<!-- jquery plugins here-->
<script src="{% static 'landingpage/js/jquery-1.12.1.min.js'%}"></script>
<!-- popper js -->
<script src="{% static 'landingpage/js/popper.min.js'%}"></script>
<!-- bootstrap js -->
<script src="{% static 'landingpage/js/bootstrap.min.js'%}"></script>
<!-- easing js -->
<script src="{% static 'landingpage/js/jquery.magnific-popup.js'%}"></script>
<!-- isotope js -->
<script src="{% static 'landingpage/js/swiper.min.js'%}"></script>
<!-- isotope js -->
<script src="{% static 'landingpage/js/isotope.pkgd.min.js'%}"></script>
<!-- aos animate js -->
<script src="{% static 'landingpage/js/aos.js'%}"></script>
<!-- particles js -->
<script src="{% static 'landingpage/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'landingpage/js/jquery.nice-select.min.js'%}"></script>
<!-- animated Modal -->
<script src="{% static 'landingpage/js/modaal.min.js'%}"></script>
<!-- custom js -->
<script src="{% static 'landingpage/js/custom.js'%}"></script>
{% block extra_scrips %}

{% endblock %}
</body>

</html>