{% extends 'core/base/layout_base.html' %}
{% load static %}
{% block header %}
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Painel</h2>
                    <h5 class="text-white op-7 mb-2">Sistema de Gerenciamento Clínico</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="#" class="btn btn-white btn-border btn-round mr-2">Configurações</a>
                    <a href="#" class="btn btn-secondary btn-round">Adicionar Profissional</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt--5">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Estatísticas Gerais</div>
                    <div class="card-category">Diariamente informações estatísticas do sistema</div>
                    <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <div id="novos-clientes"></div>
                            <h6 class="fw-bold mt-3 mb-0">Novos Clientes</h6>
                        </div>
                        <div class="px-2 pb-2 pb-md-0 text-center">

                            <div id="atendimentos"></div>
                            <h6 class="fw-bold mt-3 mb-0">Atendimentos Mensais</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Total Bruto &amp; Gasto em Estatistica</div>
                    <div class="row py-3">
                        <div class="col-md-3 d-flex flex-column justify-content-around">
                            <div>
                                <h6 class="fw-bold text-uppercase text-success op-8">Total Bruto Anual</h6>
                                <h3 class="fw-bold">R${{ total }}</h3>
                            </div>
                            <!--<div>
                                <h6 class="fw-bold text-uppercase text-danger op-8">Total Gasto</h6>
                                <h3 class="fw-bold">$1,248</h3>
                            </div>-->
                        </div>
                        <div class="col-md-9">
                            <div id="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="totalIncomeChart" width="307" height="150" class="chartjs-render-monitor" style="display: block; width: 307px; height: 150px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Relatório por Idade</div>
                </div>
                <div class="card-body">
                    <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas id="barChart" width="356" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 285px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block extra_scripts %}

    <script src="{% static 'core/base/assets/js/plugin/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/list.js/list.min.js' %}"></script>
    <script>

        var corpo = new List('clinico', {
            valueNames: ['username', 'status']
        });

        Circles.create({
            id:           'novos-clientes',
            radius:       45,
            value:        {{qnt_clientes_profissional_mes}},
            maxValue:     {{qnt_clientes_profissional_mes}},
            width:        7,
            text:         function(value){return value + '';},
            colors:       ['#eee', '#ffa13c'],
            duration:     400,
            wrpClass:     'circles-wrp',
            textClass:    'circles-text',
            styleWrapper: true,
            styleText:    true
        });

        Circles.create({
            id:           'atendimentos',
            radius:       45,
            value:        {{ qnt_atendimentos_agosto }},
            maxValue:     {{ qnt_atendimentos_agosto }},
            width:        7,
            text:         function(value){return value + '';},
            colors:       ['#eee', '#ff6662'],
            duration:     400,
            wrpClass:     'circles-wrp',
            textClass:    'circles-text',
            styleWrapper: true,
            styleText:    true
        });

        var barChart = document.getElementById('barChart');

        valor_maio = "{{ atendimentos }}";

        var myBarChart = new Chart(barChart, {
            type: 'bar',
            data: {
                labels: ["0-10", "11-20", "21-30", "31-40", "41-50", "51-60", "61-70", "80+"],
                datasets : [{
                    label: "Pacientes por Idade",
                    backgroundColor: 'rgb(23, 125, 255)',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [
                        {% if pacientes_10 %}{{ pacientes_10 }}{% endif %},
                        {% if pacientes_20 %}{{ pacientes_20 }}{% endif %},
                        {% if pacientes_30 %}{{ pacientes_30 }}{% endif %},
                        {% if pacientes_40 %}{{ pacientes_40 }}{% endif %},
                        {% if pacientes_50 %}{{ pacientes_50 }}{% endif %},
                        {% if pacientes_60 %}{{ pacientes_60 }}{% endif %},
                        {% if pacientes_70 %}{{ pacientes_70 }}{% endif %},
                        {% if pacientes_80 %}{{ pacientes_80 }}{% endif %},
                    ],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
            }
        });

        var totalIncomeChart = document.getElementById('totalIncomeChart');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: [
                    {% if atendimentos_janeiro %}"Jan",{% endif %}
                    {% if atendimentos_fevereiro %}"Fev",{% endif %}
                    {% if atendimentos_marco %}"Mar",{% endif %}
                    {% if atendimentos_abril %}"Abr",{% endif %}
                    {% if atendimentos_maio %}"Mai",{% endif %}
                    {% if atendimentos_junho %}"Jun",{% endif %}
                    {% if atendimentos_julho %}"Jul",{% endif %}
                    {% if atendimentos_agosto %}"Ago",{% endif %}
                    {% if atendimentos_setembro %}"Set",{% endif %}
                    {% if atendimentos_outubro %}"Out",{% endif %}
                    {% if atendimentos_novembro %}"Nov",{% endif %}
                    {% if atendimentos_dezembro %}"Dez",{% endif %}
                ],
                datasets : [{
                    label: "Total Mensal",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [
                        {% if atendimentos_janeiro %}
                            {{ atendimentos_janeiro | safe }},
                        {% endif %}
                        {% if atendimentos_fevereiro %}
                            {{ atendimentos_fevereiro | safe }},
                        {% endif %}
                        {% if atendimentos_marco %}
                            {{ atendimentos_marco | safe }},
                        {% endif %}
                        {% if atendimentos_abril %}
                            {{ atendimentos_abril | safe }},
                        {% endif %}
                        {% if atendimentos_maio %}
                            {{ atendimentos_maio | safe }},
                        {% endif %}
                        {% if atendimentos_junho %}
                            {{ atendimentos_junho | safe }},
                        {% endif %}
                        {% if atendimentos_julho %}
                            {{ atendimentos_julho | safe }},
                        {% endif %}
                        {% if atendimentos_agosto %}
                            {{ atendimentos_agosto | safe }},
                        {% endif %}
                        {% if atendimentos_setembro %}
                            {{ atendimentos_setembro | safe }},
                        {% endif %}
                        {% if atendimentos_outubro %}
                            {{ atendimentos_outubro | safe }},
                        {% endif %}
                        {% if atendimentos_novembro %}
                            {{ atendimentos_novembro | safe }},
                        {% endif %}
                        {% if atendimentos_dezembro %}
                            {{ atendimentos_dezembro | safe }},
                        {% endif %}],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines : {
                            drawBorder: false,
                            display : false
                        }
                    }],
                    xAxes : [ {
                        gridLines : {
                            drawBorder: false,
                            display : false
                        }
                    }]
                },
            }
        });

    </script>
{% endblock %}