{% extends 'core/base/create_update_view_base.html' %}
{% load static %}

{% block corpo_formulario %}

    <div class="row">
        <input type="hidden" name="departamento" id="departamento_id" value="{{ departamento }}">
        <div class="col-md-4 form-group ">
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
            {{ form.descricao.errors }}
        </div>
        <div class="col-md-4 form-group ">
            {{ form.areaAtendimento.label_tag }}
            {{ form.areaAtendimento }}
            {{ form.areaAtendimento.errors }}
        </div>
        <div class="col-md-4 form-group ">
            {{ form.tipo_profissional.label_tag }}
            {{ form.tipo_profissional }}
            {{ form.tipo_profissional.errors }}
        </div>

    </div>


{% endblock %}

{% block botoes %}
    <a class="btn btn-danger" href="{% url 'core:modulo:tipo_atendimento:list_view' %}">{{ labels.CANCELAR }}</a>
{% endblock %}