{% extends 'core/base/create_update_view_base.html' %}
{% load static %}

{% block corpo_formulario %}

    <div class="row">
        <input type="hidden" name="departamento" id="departamento_id" value="{{ departamento }}">
        <div class="col-md-6 form-group ">
            {{ form.departamento.label_tag }}
            {{ form.departamento }}
            {{ form.departamento.errors }}
        </div>
        <div class="col-md-6 form-group ">
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
            {{ form.descricao.errors }}
        </div>
        <div class="col-md-1 form-group ">
            {{ form.publico.label_tag }}
            {{ form.publico }}
            {{ form.publico.errors }}
        </div>
        <div class="col-md-5 form-group ">
            {{ form.valor_padrao.label_tag }}
            {{ form.valor_padrao }}
            {{ form.valor_padrao.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group ">
            {{ form.areaAtendimento.label_tag }}
            {{ form.areaAtendimento }}
            {{ form.areaAtendimento.errors }}
        </div>
        <div class="col-md-6 form-group ">
            {{ form.tipo_profissional.label_tag }}
            {{ form.tipo_profissional }}
            {{ form.tipo_profissional.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ form.tempo_padrao.label_tag }}
            {#            {{ form.tempo_padrao }}#}
            <div class="form-control selectgroup w-100 pt-3" id="id_tempo_padrao">
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="00:10:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "00:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">10m</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="00:20:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "00:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">20m</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="00:30:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "00:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">30m</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="00:40:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "00:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">40m</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="00:50:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "00:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">50m</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:00:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:00:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h</span>
                </label>
            </div>
            <div class="form-control selectgroup w-100 pt-3" id="id_tempo_padrao">

                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:10:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h10</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:20:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h20</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:30:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h30</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:40:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h40</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="01:50:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "01:30:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">1h50</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="tempo_padrao" required value="02:00:00" class="form-control selectgroup-input" {% if form.tempo_padrao.value|stringformat:"s" == "02:00:00" %} checked="" {% endif %}>
                    <span class="selectgroup-button">2h</span>
                </label>
            </div>

            {{ form.tempo_padrao.errors }}
        </div>
    </div>


{% endblock %}

{% block botoes %}
    <a class="btn btn-danger" href="{% url 'core:modulo:tipo_atendimento:list_view' %}">{{ labels.CANCELAR }}</a>
{% endblock %}