{% extends 'core/base/create_update_view_base.html' %}
{% load static %}

{% block cabecalho %}
    <div class="page-header">
        <h4 class="page-title">
            Calendário
        </h4>
    </div>
    {% if messages %}
        {% for message in messages %}

            <script>
                document.addEventListener("DOMContentLoaded", function(){
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        mensagem_erro("{{ message }}");
                    {% else %}
                        mensagem_sucesso("{{ message }}");
                    {% endif %}
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    {% if profissional %}
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner border-bottom pb-0 mb-3">
                <div class="d-flex align-items-left flex-column">
                    <h2 class="pb-2 fw-bold text-white">{{ profissional.nome }}</h2>
                    <div class="nav-scroller d-flex">
                        <div class="nav nav-line nav-color-light d-flex align-items-center justify-contents-center">
                            <a class="nav-link" href="{% url 'core:modulo:profissional:update_view' profissional.pk %}">Editar Cadastro</a>
                            <a class="nav-link active" href="{% url 'core:modulo:profissional:profissional_escala_view' profissional.pk %}">Escalas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block corpo_formulario %}

    {% if not idProfissional %}
        <div class="row">
            <div class="col-md-12 form-group">
                {{ form.departamentoProfissional.label_tag }}
                {{ form.departamentoProfissional }}
                {{ form.departamentoProfissional.errors }}
            </div>
        </div>
    {% endif %}

    <div id="calendar" class="mb-5"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="h2">Informações do Profissional</h2>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Nome</label>
                                <input type="text" readonly class="form-control" name="name" placeholder="Name" value="{{ profissional.nome}}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input type="email" readonly class="form-control" name="email" placeholder="Name" value="{{ profissional.email }}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Código</label>
                                <input type="text" readonly class="form-control" name="codigo" placeholder="Código" value="{{ profissional.codigo }}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Código</label>
                                <input type="text" readonly class="form-control" name="codigo" placeholder="Código" value="{{ profissional.codigo }}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Código</label>
                                <input type="text" readonly class="form-control" name="codigo" placeholder="Código" value="{{ profissional.codigo }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block botao_save %}
{% endblock %}
{% block botoes %}
    <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">{{ labels.CANCELAR }}</a>
{% endblock %}

{% block modals %}

    <!-- Modal - Add new event -->
    <div class="modal modal-right fade" id="modal-add-event" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Criar Nova Escala</h5>

                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body form-type-material">
                    <form id="addeditescala"
                          autocomplete="off"
                          method="post"
                          action="{% url 'core:modulo:escala:add_edit_escala' %}"
                          novalidate>
                        {% csrf_token %}
                        {% include 'escala/templates/form_add_escala.html' %}
                    </form>

                    <form id="limparintervalodia"
                          autocomplete="off"
                          method="post"
                          action="{% url 'core:modulo:escala:limpar_intervalo_dia' %}"
                          novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="intervalolimpardia" id="intervalolimpardia">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal - Add new event -->

    <!-- Modal - View event -->
    <div class="modal modal-top fade" id="modal-view-event" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="title-view">Detalhes da Escala</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="visualizar">
                        <dl class="row">
                            <dt class="col-sm-3">Titulo</dt>
                            <dd class="col-sm-9" id="title">Data Removida</dd>
                            <dt class="col-sm-3">Inicio</dt>
                            <dd class="col-sm-9"><span  id="start" class="badge badge-info"></span></dd>
                            <dt class="col-sm-3" id="labelfim"></dt>
                            <dd class="col-sm-9"><span id="end" class="badge badge-info"></span></dd>
                            <dt class="col-sm-3" id="labeldesc"></dt>
                            <dd class="col-sm-9" id="desc"></dd>
                        </dl>
                        <hr>
                        <button class="btn btn-flat btn-primary ml-3" id="open-modal-edit">Editar</button>
                        <button type="button" onclick="apagarinvervalo()" id="botao-apagar" class="btn btn-danger">Apagar</button>
                        <form id="limparintervalo"
                              autocomplete="off"
                              method="post"
                              action="{% url 'core:modulo:escala:limpar_intervalo' %}"
                              novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="intervalolimpar" id="intervalolimpar">

                        </form>

                    </div>
                    <div id="editform" style="display: none">
                        <form id="addeditescala"
                              autocomplete="off"
                              method="post"
                              action="{% url 'core:modulo:escala:add_edit_escala' %}"
                              novalidate>
                            {% csrf_token %}
                            {% include 'escala/templates/form_edit_escala.html' %}
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END Modal - View event -->

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'core/base/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/plugin/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'core/base/assets/js/locale-all.js' %}"></script>


    <script>
        function apagarinvervalodia(){
            swal({
                title: 'Tem certeza que quer apagar as escalas desse dia?',
                text: "Isso não pode ser revertido!",
                type: 'warning',
                buttons:{
                    cancel: {
                        visible: true,
                        text : 'Não, cancelar!',
                        className: 'btn btn-danger'
                    },
                    confirm: {
                        text : 'Sim, apague isso!',
                        className : 'btn btn-success'
                    }
                }
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Essa escala foi apagada!", {
                        icon: "success",
                        buttons : {
                            confirm : {
                                className: 'btn btn-success'
                            }
                        }
                    });
                    $('#limparintervalodia').submit();
                } else {
                    swal("Essa escala não foi apagada!", {
                        buttons : {
                            confirm : {
                                className: 'btn btn-success'
                            }
                        }
                    });
                }
            });
        }
        function apagarinvervalo(){
            swal({
                title: 'Tem certeza que quer apagar essa escala?',
                text: "Isso não pode ser revertido!",
                type: 'warning',
                buttons:{
                    cancel: {
                        visible: true,
                        text : 'Não, cancelar!',
                        className: 'btn btn-danger'
                    },
                    confirm: {
                        text : 'Sim, apague isso!',
                        className : 'btn btn-success'
                    }
                }
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Essa escala foi apagada!", {
                        icon: "success",
                        buttons : {
                            confirm : {
                                className: 'btn btn-success'
                            }
                        }
                    });
                    $('#limparintervalo').submit();
                } else {
                    swal("Essa escala não foi apagada!", {
                        buttons : {
                            confirm : {
                                className: 'btn btn-success'
                            }
                        }
                    });
                }
            });
        }

        $( function() {
            $("#slider-range-edit").slider({
                range: false,
                min: 300,
                max: 1260,
                step: 10,
                values: [600],
                slide: function (e, ui) {
                    var hours1 = Math.floor(ui.values[0] / 60);
                    var minutes1 = ui.values[0] - (hours1 * 60);



                    var hours2 = Math.floor(ui.values[1] / 60);
                    var minutes2 = minutes1 + 10    ;

                    if(hours1.length < 10) hours1= '0' + hours;
                    if(minutes1.length < 10) minutes1 = '0' + minutes;

                    if(minutes1 == 0){
                        minutes1 = '00';
                        hours2 = hours1;
                        minutes2 = '30';
                    } else {
                        hours2 = hours1 + 1;
                        minutes2 = '00';
                        {#console.log('Hora 1: ' +  hours1+":" +minutes1);#}
                        {#console.log('Hora 2: ' +  hours2+":" +minutes2);#}
                    }




                    $('.slider-time').val(hours1 + ':' + minutes1);

                    $('.slider-time2').val(hours2 + ':' + minutes2);
                }
            });
            $("#slider-range").slider({
                range: true,
                min: 300,
                max: 1260,
                step: 10,
                values: [600, 720],
                slide: function (e, ui) {
                    {#console.log(ui.values[0]);#}
                    var hours1 = Math.floor(ui.values[0] / 60);
                    var minutes1 = ui.values[0] - (hours1 * 60);



                    var hours2 = Math.floor(ui.values[1] / 60);
                    var minutes2 = ui.values[1] - (hours2 * 60);

                    if(hours1.length < 10) hours1= '0' + hours;
                    if(minutes1.length < 10) minutes1 = '0' + minutes;

                    if(minutes1 == 0) minutes1 = '00';

                    if(hours2.length < 10) hours2= '0' + hours;
                    if(minutes2.length < 10) minutes2 = '0' + minutes;

                    if(minutes2 == 0) minutes2 = '00';

                    $('.slider-time').val(hours1 + ':' + minutes1);

                    $('.slider-time2').val(hours2 + ':' + minutes2);
                }
            });
        });

        $("#id_departamentoProfissional").change(function () {

            var valor = $(this).val();  // get the selected country ID from the HTML input
            $('#profissional').val(valor);

        });


        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var className = Array('fc-primary', 'fc-danger', 'fc-black', 'fc-success', 'fc-info', 'fc-warning', 'fc-danger-solid', 'fc-warning-solid', 'fc-success-solid', 'fc-black-solid', 'fc-success-solid', 'fc-primary-solid');

            $calendar = $('#calendar');
            $calendar.fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaDay,listWeek'
                },
                locale: 'pt-br', // Definir tradução do calendário
                selectable : false, // Definir se datas são selecionáveis
                selectHelper: true,
                eventLimit: true,
                eventMouseover: function(data, event, view) {
                    var content = '<h3>'+data.title+'</h3>' +
                        '<p><b>Start:</b> '+data.start+'<br />' +
                        (data.end && '<p><b>End:</b> '+data.end+'</p>' || '');

                    tooltip.set({
                        'content.text': content
                    })
                        .reposition(event).show(event);
                },
                views: {
                    month: {
                        eventLimit: 4
                    }
                },
                viewRender: function(view, element) {
                    $('.quick-sidebar-toggler').toggle();
                    $('#calendar-title').text( view.title );
                }, // Ao renderizar view
                dayClick: function(date, jsEvent, view) {
                    if(moment(date.format()).format('DD/MM/YYYY') === moment(Date.now()).format('DD/MM/YYYY')){
                        mensagem_erro("Não é possível definir sua escala hoje.");
                    }else if(Date.now() > date){
                        mensagem_erro("Impossível alterar escalas antigas");
                    }else {
                        // Abrir janela para adicionar nova escala
                        $("#slider-range").slider('values', 0, 480);
                        $("#slider-range").slider('values', 1, 720);
                        $('#datastart').val(moment(date.format()).format('DD/MM/YYYY')); // Preenche datastart
                        $('#horastart').val($('.slider-time').val()); // Preenche horastart
                        var datatimestamp = new Date(moment(date.start).format('MM-DD-YYYYTH:mm'));

                        $('#dataend').val(moment(date.format()).format('DD/MM/YYYY')); // Preenche datastart
                        $('#horaend').val($('.slider-time2').val()); // Preenche horastart

                        $('#modal-add-event').modal('show'); // Mostra janela de criação
                        $('#intervalolimpardia').val(date.format());
                    }
                }, // Ao clicar em um dia
                eventClick: function(date, jsEvent, view) {
                    // Abrir janela para visualizar escala
                    $('#visualizar').attr('style','display:block');
                    $('#editform').attr('style','display:none');
                    $('#modal-view-event #title').text(date.title); // Preenche campo titulo
                    $('#idbd').val(date.id);
                    $('#title').attr('className',date.className);// Armazena informação da cor para recuperar na edição
                    if(date.inicio) {
                        $('#botao-apagar').attr('style','display:none');
                        $('#modal-view-event #start').text(date.inicio); // Preenche data start
                    }else{
                        $('#botao-apagar').attr('style','display:inline-block');
                        $('#modal-view-event #start').text(moment(date.start).format('H:mm')); // Preenche data start
                    }
                    var horareversa = Math.floor(moment(date.start).format('H') * 60);
                    var minutesreverso = Math.floor(moment(date.start).format('m')) + (horareversa);
                    $( "#slider-range-edit" ).slider('values',0,minutesreverso);
                    $('#intervalolimpar').val(date.id);
                    if(date.end) { // Se tiver data final
                        $('#labelfim').text('Fim'); // Escreve texto dentro do labelfim
                        $('#modal-view-event #end').text(moment(date.end).format('H:mm')); // Preenche data end
                    }else if(date.fim) {
                        $('#labelfim').text('Fim'); // Escreve texto dentro do labelfim
                        $('#modal-view-event #end').text(moment(date.fim).format('H:mm')); // Preenche data fim
                    }else{
                        $('#labelfim').text(''); // Reseta labelfim
                        $('#modal-view-event #end').text(''); // Reseta data end
                    }
                    if(date.className == 'fc-danger') { // Se tiver descrição
                        $('#labeldesc').text('Atendimento'); // Escreve texto dentro do labeldesc
                        $('#modal-view-event #desc').text(date.tipo_atendimento); // Preenche descrição
                    }else{
                        $('#labeldesc').text(''); // Reseta labeldesc
                        $('#modal-view-event #desc').text(''); // Reseta descrição
                    }
                    $('#modal-view-event').modal('show'); // Mostra janela de visalização
                }, // Ao clicar em um evento
                events:
                {{ intervalos|safe }}
                , // Popular escalas existentes no calendário


            });


            /* handle change view
                -----------------------------------------------------------------*/

            $('[data-calendar-view]').on('click', function() {
                var view = $(this).data('calendar-view');
                calendar.fullCalendar('changeView', view);

                makeViewActive($(this));
            });



            var makeViewActive = function(e) {
                $(e).closest('.nav').find('.nav-link.active, .dropdown-item.active').removeClass('active');
                $(e).addClass('active');
                if ($(e).hasClass('dropdown-item')) {
                    $(e).closest('.dropdown').children('.nav-link').addClass('active');
                }
            };



            /* handle caledar actions
            -----------------------------------------------------------------*/

            $('[data-calendar]').on('click', function() {
                var action = $(this).data('calendar');

                switch (action) {
                    case 'today':
                        calendar.fullCalendar('today');
                        break;

                    case 'next':
                        calendar.fullCalendar('next');
                        break;

                    case 'prev':
                        calendar.fullCalendar('prev');
                        break;
                }
            });



            // Once edit button clicked, close the event details modal and open edit modal
            //
            $('#open-modal-edit').on('click', function() {
                $('#visualizar').slideToggle(); // Define visualização invisível
                $('#editform').slideToggle(); // Define formulário de edição visível
                var titulo = $('#modal-view-event #title').text(); // Definir variável titulo
                var datainicio = $('#modal-view-event #start').text(); // Definir variável datainicio
                var datafim = $('#modal-view-event #end').text(); // Definir variável datafim
                var description = $('#modal-view-event #desc').text(); // Definir variável description
                datainicio = datainicio.split(" -> "); // Fazer separação entre data e hora
                datafim = datafim.split(" -> "); // Fazer separação entre data e hora
                $('#title-edit').val(titulo); // Preencher title-edit
                $('#datastarte').val(datainicio[0]); // Preencher datastarte data inicial
                $('#dataende').val(datafim[0]); // Preencher dataende data final
                $('#horastarte').val(datainicio[1]); // Preencher horastarte hora inicial
                $('#horaende').val(datafim[1]); // Preencher horaende hora final
                $('#desc-edit').val(description); // Preencher desc-edit descrição
                {#alert($('#title').attr('className'));#}
                switch ($('#title').attr('className')) {
                    case 'fc-black':
                        $('#color-dark').attr('checked','checked');
                        break;
                    case 'fc-primary':
                        $('#color-primary').attr('checked','checked');
                        break;
                    case 'fc-secondary':
                        $('#color-secondary').attr('checked','checked');
                        break;
                    case 'fc-info':
                        $('#color-info').attr('checked','checked');
                        break;
                    case 'fc-success':
                        $('#color-success').attr('checked','checked');
                        break;
                    case 'fc-danger':
                        $('#color-danger').attr('checked','checked');
                        break;
                    case 'fc-warning':
                        $('#color-warning').attr('checked','checked');
                        break;
                } // Verificar qual é a cor do evento e realizar o checke correspondente

            });

            $('#cancel-modal').on('click', function () {
                $('#visualizar').slideToggle(); // Define visualização visível
                $('#editform').slideToggle(); // Define visualização invisível
            });

            $('#save_escala').on('click', function () {
                var titulo = $('#tituloadd').val();
                var descricao = $('#descriptionadd').val();
                var datestart = $('#datastart').val().split('/');
                var horastart = $('#horastart').val().split(':');
                var start = new Date(datestart[2],datestart[1]-1,datestart[0],horastart[0],horastart[1]);
                var dateend = $('#dataend').val().split('/');
                var horaend = $('#horaend').val().split(':');
                var end = new Date(dateend[2],dateend[1]-1,dateend[0],horaend[0],horaend[1]);
                var checked = document.querySelector('input[name="color"]:checked').value;
                var cor = '';
                switch (checked) {
                    case 'black':
                        cor = 'fc-black';
                        break;
                    case 'primary':
                        cor = 'fc-primary';
                        break;
                    case 'secondary':
                        cor = 'fc-secondary';
                        break;
                    case 'info':
                        cor = 'fc-info';
                        break;
                    case 'success':
                        cor = 'fc-success';
                        break;
                    case 'danger':
                        cor = 'fc-danger';
                        break;
                    case 'warning':
                        cor = 'fc-warning';
                        break;
                    default:
                        $('body').notify({
                            message: 'Erro',
                            type: 'danger'
                        });
                } // Verificar qual é a cor selecionada


                // alert(!dataFimMaiorQueDataInicio(horastart[0]+":"+horastart[1], horaend[0]+":"+horaend[1]));
                if(!dataFimMaiorQueDataInicio(horastart[0]+":"+horastart[1], horaend[0]+":"+horaend[1])){ // verifica se a data inicial é maior que data final
                    $calendar.fullCalendar('addEventSource', {
                        title: titulo,
                        start: start,
                        end: end,
                        description: descricao,
                        className: cor,
                    });
                    $calendar.fullCalendar('refetchEvents');
                    $calendar.fullCalendar('renderEvent', {
                        title: titulo,
                        start: start,
                        end: end,
                        description: descricao,
                        className: cor,
                    });
                    $('#addeditescala').submit();
                    $('#modal-add-event').modal('hide');
                } else {
                    mensagem_erro('A data final precisa ser menor que a final!')
                }
            });
        });

        $('#datastart').datetimepicker({
            format: 'DD/MM/YYYY',
            locale:'pt-br'
        });

        $('#horastart').datetimepicker({
            format: 'H:mm',
            locale:'pt-br'
        });

        $('#dataend').datetimepicker({
            format: 'DD/MM/YYYY',
            locale:'pt-br'
        });

        $('#horaend').datetimepicker({
            format: 'H:mm',
            locale:'pt-br'
        });

        $('#datastarte').datetimepicker({
            format: 'DD/MM/YYYY',
            locale:'pt-br'
        });

        $('#horastarte').datetimepicker({
            format: 'H:mm',
            locale:'pt-br'
        });

        $('#dataende').datetimepicker({
            format: 'DD/MM/YYYY',
            locale:'pt-br'
        });

        $('#horaende').datetimepicker({
            format: 'H:mm',
            locale:'pt-br'
        });
        function dataFimMaiorQueDataInicio(inicio,fim) {
            return toTimestamp('1998-01-01T'+inicio) >= toTimestamp('1998-01-01T'+fim);
        }
        function toTimestamp(strDate){
            var datum = Date.parse(strDate);
            return datum/1000;
        }

    </script>

{% endblock %}